.navbar {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar #logo {
    width: 80px;
    height: 45px;
    margin-top: -13px;
    margin-right: 20px;
}

#login #logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 40px;
    display: block;
}

#login #login-submit {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#overview .overview-entry img{
    margin-bottom: 20px;
    width: 100%;
}
#overview .overview-entry {
    margin-bottom: 20px;
    width: 100%;
}

#overview .overview-entry .loading {
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    align-self: center;
    width: 50px;
    height: 50px;
}
.glyphicon{
    padding-left: 10px;
}

#overview .spacer,
#imageDetail .spacer {
    display: inline-block;
    width: 75px;
}

#imageDetail #imageLink {
    position: relative;
    display: block;

    color: white;
}

#imageDetail img {
    width: 100%;
}

#imageDetail #mark-as-favorite {
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    right: 0px;

    font-size: 40px;
    padding: 10px;

    display: none;
}

#imageDetail .fav-marked {
    color: #669999;
}

#imageDetail .tag {
    background: #669999;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    margin-bottom: 5px;
    margin-right: 5px;
}

#imageDetail .tag span {
    margin-right: 5px;
}

#imageDetail #add-tag-textfield {
    margin-top: 10px;
}

#imageDetail .comment-entry {
    margin-top: 10px;
    margin-bottom: 10px;
}

#imageDetail #comment-textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

#imageDetail #comment-submit {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.upvote-button {
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.upvote-button:hover {
    background-color: #669999;
    color: white;
}

.upvote-marked {
    background-color: #60a7a7;
    color: white;
}

#upload #upload-submit {
    margin-top: 20px;
}

#footerbar {
    margin-top: 30px;
    margin-bottom: 20px;
}

#footerbar a {
    color: gray;
    display: block;
}

#footerbar div {
    text-align: center;
}

#footerbar #heart {
    color: #d42b2b;
}


.bg-danger {
    background-color: #f2dede!important;
}
.bg-warning {
    background-color: #fcf8e3;!important;
}

.lastImages {
    list-style:none; border:0;
}
.lastImages img{
    width: 100%;
}
.lastImages li{
   margin:0; padding:0; border:0;
}
.topUsers .centered {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.topUsers .carousel {
    margin: auto;
    align-self: center;
    max-width: 500px!important;
}
.topUsers .carousel img {
    width: 100%;
}